<!DOCTYPE html>
<html>
<head>
    <title>Your Contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script >
    	#{if (profiles!=0)}
        $(document).ready(function(){
              var table_body = '<table border="1"><th style="padding-left:15px;padding-right:15px;"> FirstName </th><th style="padding-left:15px;padding-right:15px;"> LastName </th></tr>';
              #{list items:profiles, as:'profile' }

              		table_body+='<tr id="${profile.profileid}">';

              		
                    table_body +='<td>';
                    table_body += '${profile.firstName}';
                    table_body +='</td>';
                    
                    table_body +='<td>';
                    table_body +='${profile.lastName}';
                    
                    table_body +='</td>';
                    
                    table_body +='<td>';
                    table_body += '<button onclick="viewProfile(${profile.profileid})" class="btn btn-info" ">View Details</button>';
                    table_body +='</td>'
                    
                    table_body +='</td>';
                    
                    table_body+='</tr>';
              
            #{/list}
            
            table_body+='</table>';
            $('#tableDiv').html(table_body);
            });
    	#{/if}
        
        
        
        function viewProfile(id){
        	
        	$("#infodiv").css("border","2px solid black");
        	
        	$("#data").empty();
        	var ajaxReq = $.ajax('/viewProfile?profileid='+id, {
        		dataType: 'json',
        		timeout: 500
        	});

        	ajaxReq.done(function (data, status, jqXhr) {
        		$('p').append("<h3>User Info </h3>");
        		$('p').append("Name : "+data.firstName + '  ' + data.lastName+"<br/>");
        		$('p').append("Date Of Birth : "+data.dob+"<br/>" );
        		$('p').append("Address Line 1 : "+data.address1 + '<br/>');
        		$('p').append("Address Line 2 : "+data.address2 + '<br/>');
        		$('p').append("City : "+data.city + '<br/>');
        		$('p').append("State : "+data.state + '<br/>');
        		$('p').append("Country : "+data.country + '<br/>');
        		
        		$('p').append("<br/><h3>Contact info <h3>");
        		data.catergory = data.catergory.replace('[', '');
        		data.catergory = data.catergory.replace(']', '');
        		var catg = data.catergory.split(',');
        		
        		var i=0;
        		$.each(data.phoneNum, function(index,value) {
        			catgry = "Not Specified";
        			if(catg[i].trim() != null && catg[i].trim() != '' ){
        				catgry=catg[i];
        			}
        			$('p').append("Phone Number: "+value+ '<br/>  Category: '+catgry+'<br/><br/>');
        			i++;
        		});
        		

        	})

        	ajaxReq.fail(function (jqXhr, textStatus, errorMessage) {
        		$('p').append('Error: ' + errorMessage);
        	})
        }
        
       
        
    </script>
    
    <link rel="stylesheet" type="text/css" href="/public/resources/css/nav.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <style>
    	#tableDiv {
    	  width: 100px;
    	  height: 100px;
    	  margin-right: 10px;
    	  float: left;
    	}
    
    	#infodiv {
	    	float: left;
	    	margin-left: 300px;
	    	margin-top: 100px;
	    	padding-left:50px;
	    	padding-right:50px;
    	}
    	
    	td {
    		 text-align: center;
    	}
</style>
    
</head>
<body>

<ul>
	<li><a href="/home" class="active">Home</a></li>
	<li><a href="/createContact" >Create New Contact</a></li>
	<li><a href="/logout">LogOut</a></li>

</ul>


<div style="margin-top: 50px; margin-left: 250px">
    <div id="tableDiv" style="margin-top: 40px">
       No Contacts added yet 
    </div>
       <div id="infodiv">
        <p id="data"></p>
        </div>
</div>
</body>

