<html>
<head>
<link rel="stylesheet" type="text/css" href="/public/resources/css/nav.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<ul>
<li><a href="/home" class="active">Home</a></li>
<li><a href="/createContact" >Create New Contact</a></li>
<li><a href="/logout">LogOut</a></li>

</ul>

</a>
 </a>

 <div>${msg}</div>
 
<div class="w3-panel" style="width:30%">
<button class="w3-button w3-block w3-teal"><a href="/viewContacts">View Contacts</a></button>
</div>

<div class="w3-panel" style="width:30%">
<button class="w3-button w3-block w3-black"><a href="/createContact">create new contact</a></button>
</div>

</body>
</html>